.animate-gradient {
    background-image: linear-gradient(to left, #2af598, #009efd, #2af598);
    background-size: 200% 100%;
    animation: gradientAnimation 2s alternate infinite;
}

.sign {
    stroke-dasharray: 2530px;
    stroke-dashoffset: 2530px;
    animation: lineAnimation 2s ease forwards;
    animation-delay: 2s;
}

@keyframes lineAnimation {
    to {
        stroke-dashoffset: 1300px;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0 0;
    }
}

.bar {
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
        opacity: 0.35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 28px;
    }
}

.bar:nth-child(3n) {
    animation-duration: 474ms;
}
.bar:nth-child(3n-1) {
    animation-duration: 433ms;
}
.bar:nth-child(3n-2) {
    animation-duration: 407ms;
}

​.appbg {
    opacity: 0.5;
    --color-background-image-base: var(--color-background);
    --color-background-image-accent-1: var(--indigo-a7);
    --color-background-image-accent-2: var(--violet-6);
    --color-background-image-accent-3: var(--purple-9);
    --color-background-image-accent-4: var(--blue-5);
    --color-background-image-accent-5: var(--slate-1);
    --color-background-image-accent-6: var(--crimson-a5);
    --color-background-image-accent-7: var(--indigo-5);
}

.cssName {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
    -webkit-box-reflect: below 2px
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.music::after,
.playing::after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background-size: 100%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(50px);
    z-index: -100;
}

.music::after {
    background: linear-gradient(45deg, #1f51ff, #228b22);
}

.playing::after {
    background: linear-gradient(45deg, #ff5733, #ff10f0);
}

.fade {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 9, 29, 0),
        rgba(0, 9, 29, 0.9) 100%
    );
}

.path {
    stroke-dasharray: 500px 100px;
    animation: animate 100s linear infinite alternate-reverse;
}

@keyframes animate {
    to {
        stroke-dashoffset: 12433.8193359375;
    }
}

.writing-mode-vertical-rl {
    writing-mode: vertical-rl;
}
.text-orientation-upright {
    text-orientation: upright;
}
